<p id="notice"><%= notice %></p>

<p>
  <strong>Texto:</strong>
  <%= @texto.texto %>
</p>

<p>
  <strong>Idioma:</strong>
  <%= @texto.idioma %>
</p>

<%= link_to 'Edit', edit_texto_path(@texto) %> |
<%= link_to 'Back', textos_path %>
