<%= form_for(@tw_usuario) do |f| %>
  <% if @tw_usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tw_usuario.errors.count, "error") %> prohibited this tw_usuario from being saved:</h2>

      <ul>
      <% @tw_usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :mensaje_id %><br>
    <%= f.text_field :mensaje_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
