<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @tw_usuario.username %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @tw_usuario.mensaje %>
</p>

<%= link_to 'Edit', edit_tw_usuario_path(@tw_usuario) %> |
<%= link_to 'Back', tw_usuarios_path %>
