<%= form_for(@tusuario) do |f| %>
  <% if @tusuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tusuario.errors.count, "error") %> prohibited this tusuario from being saved:</h2>

      <ul>
      <% @tusuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :mensaje_id %><br>
    <%= f.text_field :mensaje_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
